*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

/* PAGE HEIGHT FIT */

body{
height:100vh;
display:flex;
flex-direction:column;
}

/* NAVBAR */

.navbar{
height:10vh;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 50px;
border-bottom:1px solid #eee;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
text-decoration:none;
color:#444;
font-size:16px;
}

.username{
color:#3aa0ff;
font-weight:bold;
}

/* HERO SECTION */

.hero{
height:90vh;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 80px;
}

/* LEFT SIDE */

.hero-left{
width:50%;
}

.hero-left h1{
font-size:48px;
line-height:1.2;
color:#444;
margin-bottom:20px;
}

.hero-left span{
color:#3aa0ff;
}

.hero-left p{
color:#777;
margin-bottom:30px;
font-size:16px;
}

.hero-left button{
padding:14px 30px;
background:#3aa0ff;
color:white;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
}

/* RIGHT SIDE */

.hero-right{
width:50%;
display:flex;
justify-content:center;
}

.hero-right img{
width:350px;
}
